---
import XpCards from "./xpCards.astro";

interface ExperienceProp {
  dates: string;
  title: string;
  company: string;
  companyUrl: string;
  description: string;
  technologies: string[];
  logo?: string;
}

const EXPERIENCE: ExperienceProp[] = [
  {
    dates: "Mayo 2024 — Actualidad",
    title: "Desarrollador Frontend Jr",
    company: "Skolmi",
    companyUrl: "https://www.skolmi.com/",
    description:
      "Skolmi fue la primera empresa que confió en mí como programador, ¡y no se han arrepentido! Hemos podido hacer cosas geniales juntos como mejorar la experiencia de matrícula para cientos de familias, desarrollar un Backoffice para consulta de notas, renovar la versión móvil del sitio web y dar vida a un sistema de referidos funcional, atractivo y responsivo... ¡y lo que falta!",
    technologies: [
      "Nexj Js",
      "React",
      "Figma",
      "Tailwind",
      "WordPress",
      "JavaScript",
      "HTML",
      "CSS",
      "SQL",
    ],
    logo: "/logos/skolmi.jpg",
  },
  {
    dates: "Diciembre 2024 — Marzo 2025",
    title: "Frontend y Diseñador UI/UX",
    company: "Logic Solutions",
    companyUrl: "https://www.logicsolutions.es/",
    description:
      "Colaboré a tiempo completo en esta empresa de Barcelona - España, expertos en soluciones informáticas y ciberseguridad, diseñando y codeando la UI de un Software as a Service para generar reportes. Además hice Landing Pages, mantenimiento de sitios web, diseño y maquetación de Interfaces.",
    technologies: [
      "React",
      "Next Js",
      "Astro",
      "HTML",
      "CSS",
      "Tailwind",
      "WordPress",
      "Elementor",
      "Shopify",
      "Figma",
      "Illustrator",
    ],
    logo: "/logos/logic.jpg",
  },
  {
    dates: "Junio 2024 — Septiembre 2024",
    title: "Maquetador Frontend Jr",
    company: "Medusa Lab",
    companyUrl: "https://www.linkedin.com/company/medusa-lab-ai",
    description:
      "Mi escuelita. Mi jefe de programación me recomendó para trabajar como maquetador HTML, y gracias a mis compañeros y jefes pude aprender y probar cosas nuevas: GraphQL, Firebase, debugging, consumo de APIs… entre otras. Programé la interfaz y las vistas de varias aplicaciones web de Backoffice para administración y sitios web.",
    technologies: [
      "HTML",
      "CSS",
      "JavaScript",
      "TypeScript",
      "Next Js",
      "GraphQL",
    ],
    logo: "/logos/medusa.jpg",
  },
];
---
<section id="experience" class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">
      Chambeando
    </h2>
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      Experiencia
    </h3>
    <div class="mt-10 lg:ml-10">
      <ol class="group/list space-y-12">
        {EXPERIENCE.map((experience) => <XpCards {...experience} />)}
      </ol>
    </div>

  </div>
</section>
