---
import XpCards from "./xpCards.astro";

interface ExperienceProp {
  dates: string;
  title: string;
  company: string;
  companyUrl: string;
  description: string;
  technologies: string[];
  logo?: string;
}

const EXPERIENCE: ExperienceProp[] = [
  {
    dates: "Mayo 2024 — Actualidad",
    title: "Desarrollador Frontend",
    company: "Skolmi",
    companyUrl: "https://www.skolmi.com/",
    description:
      `En colaboración con el equipo de backend, desarrollo y optimizo soluciones web para la institución:

      - <strong>Frontend y UI/UX:</strong> Rediseño de flujos críticos (como el proceso de matrícula) y desarrollo de landing pages orientadas a servicios.

      - <strong>Evolución a PWA:</strong> Desarrollo de nuevas features y conversión de la app 'MIA' a Progressive Web App, implementando notificaciones Push.

      - <strong>Análisis de Datos:</strong> Extracción de métricas clave mediante consultas SQL en bases de datos históricas para respaldar la toma de decisiones.`,
    technologies: [
      "Nexj Js",
      "React",
      "Figma",
      "Tailwind",
      "JavaScript",
      "HTML",
      "CSS",
      "SQL",
    ],
    logo: "/logos/skolmi.jpg",
  },
  {
    dates: "Diciembre 2024 — Actualidad",
    title: "Consultor y Desarrollador",
    company: "Logic Solutions",
    companyUrl: "https://www.logicsolutions.es/",
    description:
      `Trabajo como consultor y desarrollador para esta compañía de soluciones informáticas y ciberseguridad en España. Lidero el desarrollo frontend de un SaaS para la generación de reportes automatizados, gestionando interfaces complejas, traducciones y orquestación de múltiples APIs. 
      
      Paralelamente, programo en LabWare LIMS utilizando LIMS Basic, aplicando lógica de negocio avanzada y consultas de bases de datos para garantizar la integridad de la información.`,
    technologies: [
      "Javascript",
      "React",
      "Next Js",
      "Tailwind",
      "LIMS Basic",
      "SQL",
    ],
    logo: "/logos/logic.jpg",
  },
  {
    dates: "Enero 2020 — Abril 2024",
    title: "Diseñador Creativo & UI/UX",
    company: "Skolmi",
    companyUrl: "https://www.skolmi.com/",
    description:
      "Durante 4 años fui el responsable de la identidad visual, conceptualización y diseño de experiencia de usuario (UX/UI) de la institución. Esta etapa cimentó mi capacidad para crear prototipos funcionales, mantener jerarquías visuales estrictas y diseñar pensando en la retención del usuario final; una sensibilidad estética que hoy aplico directamente en mi arquitectura de código frontend.",
    technologies: [
      "Figma",
      "Illustrator",
      "Photoshop",
      "UI/UX",
    ],
    logo: "/logos/skolmi.jpg",
  },
  {
    dates: "Junio 2024 — Septiembre 2024",
    title: "Maquetador Frontend Jr",
    company: "Medusa Lab",
    companyUrl: "https://www.linkedin.com/company/medusa-lab-ai",
    description:
      "Desarrollo ágil de interfaces y vistas para aplicaciones web de Backoffice. Implementé soluciones dinámicas integrando GraphQL y Firebase bajo la arquitectura de Next.js, optimizando el consumo de APIs y el rendimiento general de los sitios administrativos.",
    technologies: [
      "HTML",
      "CSS",
      "JavaScript",
      "React",
      "TypeScript",
      "Next Js",
      "GraphQL",
    ],
    logo: "/logos/medusa.jpg",
  },
];
---
<section id="experience" class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">
      Chambeando
    </h2>
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      Experiencia
    </h3>
    <div class="mt-10 lg:ml-10">
      <ol class="group/list space-y-12">
        {EXPERIENCE.map((experience) => <XpCards {...experience} />)}
      </ol>
    </div>

  </div>
</section>
