---
import XpCards from "./xpCards.astro";

interface ExperienceProp {
  dates: string;
  title: string;
  company: string;
  companyUrl: string;
  description: string;
  technologies: string[];
  logo?: string;
}

const EXPERIENCE: ExperienceProp[] = [
  {
    dates: "November 2021 — Present",
    title: "Full Stack Engineer",
    company: "Dutch Pet (Remote)",
    companyUrl: "https://www.dutch.com",
    description:
      "Designed and architected dutch.com, utilizing technologies such as Shopify Storefront API, Admin API, Vue.JS, Node.JS, Liquid, Alpine.js, and Tailwind. Worked on integrating with the ReCharge subscription system and collaborated closely with designers to implement pixel-perfect layouts and user flows.",
    technologies: [
      "Shopify Storefront API",
      "Shopify Admin API",
      "Vue.JS",
      "Node.JS",
      "Liquid",
      "Alpine.js",
      "Tailwind",
    ],
    logo: "/logos/skolmi.jpg",
  },
  {
    dates: "March 2021 — November 2021",
    title: "Full Stack Ecommerce Engineer",
    company: "AbsoluteWeb",
    companyUrl: "https://www.absoluteweb.com",
    description:
      "Developed and maintained e-commerce solutions on Shopify (Storefront API, Admin API), BigCommerce, and Magento using React JS, Vue JS, Node JS, Liquid, SASS/PostCSS. Worked on integrating with the ReCharge subscription system and collaborated closely with designers to implement pixel-perfect layouts and user flows.",
    technologies: [
      "React JS",
      "Vue JS",
      "Node JS",
      "Shopify Storefront API",
      "Shopify Admin API",
      "BigCommerce",
      "Magento",
      "Liquid",
      "SASS/PostCSS",
    ],
    logo: "/logos/logic.jpg",
  },
  {
    dates: "January 2019 — September 2019",
    title: "Front-End Engineer",
    company: "Efigence",
    companyUrl: "https://www.efigence.com",
    description:
      "Worked on developing a Polish Government Joint Stock Company website using JS, Magnolia CMS, and FreeMarker.",
    technologies: ["JavaScript", "Magnolia CMS", "FreeMarker"],
    logo: "/logos/medusa.jpg",
  },
];
---
<section id="experience" class="w-full py-12 border-t border-[#ffffff10]">
  <div class="max-w-5xl mx-auto">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">
      Chambeando
    </h2>
    <h3 class="text-4xl md:text-5xl font-medium text-[var(--white)] mb-6">
      Experiencia
    </h3>
    <div class="mt-10 lg:ml-10">
      <ol class="group/list space-y-12">
        {EXPERIENCE.map((experience) => <XpCards {...experience} />)}
      </ol>
    </div>

  </div>
</section>
